https://haystar.tistory.com/11
https://blog.naver.com/myincizor/221827098614

#라이브러리 설치 및 불러오기

In [ ]:
!pip install konlpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     |████████████████████████████████| 19.4 MB 1.2 MB/s
Collecting JPype1>=0.7.0
  Downloading JPype1-1.4.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (453 kB)
     |████████████████████████████████| 453 kB 50.3 MB/s
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (4.1.1)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.4.0 konlpy-0.6.0

In [ ]:
import pandas as pd
import re #파이썬 내장 모듈
from konlpy.tag import Okt 
from collections import Counter #파이썬 내장 모듈

#영화 데이터 불러오기

In [ ]:
movieData = 'movieList.csv'
movieData = pd.read_csv(movieData,index_col=[0])
movieData.head(5)

,title,rate,description
0,뷰티플 마인드,9.9,"세상 극과 극의 개성으로 뭉친 ‘뷰티플마인드’의 멤버들 알고 보니, 마음 속 고민의..."
1,뷰티플 마인드(가치봄영화:시청각장애인용),9.9,"세상 극과 극의 개성으로 뭉친 ‘뷰티플마인드’의 멤버들 알고 보니, 마음 속 고민의..."
2,극장판 은혼 완결편 해결사여 영원하라,9.9,"""어떤 힘""에 의해 자신이 없는 미래의 세계에 날아가버린 긴토키는 붕괴해버린 에도의..."
3,몬스타엑스 : 더 드리밍,9.8,강렬한 퍼포먼스와 파워풀하고 완성도 높은 무대로 전 세계의 수많은 팬들에게 아름다운...
4,디지몬 어드벤처 2기: 우리들의 워 게임!,9.8,디지털 월드의 모험으로부터 반 년 후. 인터넷 상에는 전 세계의 디지털 데이터를 먹...

#줄거리, 일기 전처리

In [ ]:
#한글표현만 냅두기
def extract_word(text):
    hangul = re.compile('[^가-힣]') 
    result = hangul.sub(' ', text) 
    return result

In [ ]:
def make_wordlist(movie): #reviews = " ".join(data['Review'].tolist())
        #정규표현식 적용
        words = extract_word(movie)
        #형태소 추출
        okt = Okt()
        words = okt.morphs(words,stem=True)
        #한글자 제거
        words = [x for x in words if len(x)>1]
        #불용어 제거
        words = [x for x in words if x not in stopwords]
        words = " ".join(words)
        return words

In [ ]:
with open('stopwords.txt', 'r', encoding='ISO-8859-1') as f:
    list_file = f.readlines()
stopwords = list_file[0].split(",")

In [ ]:
diary = {
    'title' : '내 일기',
    'rate' : 10,
    'description' : '오늘 에버랜드는 너무 재밌었다. 원래 무서운걸 못타는데 너무 재밌게 탔다. 친구들하고 같이 타서 더 재밌었던 것 같다'
}
movieData = movieData.append(diary, ignore_index=True)

In [ ]:
movieData['description'] = movieData['description'].apply(lambda x:make_wordlist(x))
movieData

,title,rate,description
0,뷰티플 마인드,9.9,세상 개성 으로 뭉치다 뷰티플 마인드 멤버 보다 마음 고민 불협화음 까지 닮다 혼자...
1,뷰티플 마인드(가치봄영화:시청각장애인용),9.9,세상 개성 으로 뭉치다 뷰티플 마인드 멤버 보다 마음 고민 불협화음 까지 닮다 혼자...
2,극장판 은혼 완결편 해결사여 영원하라,9.9,어떻다 의하다 자신 없다 미래 세계 날아가다 버리다 기다 토키 붕괴하다 버리다 도의...
3,몬스타엑스 : 더 드리밍,9.8,강렬하다 퍼포먼스 파워 하고 완성 높다 무대 세계 수많다 에게 아름답다 충격 선사 ...
4,디지몬 어드벤처 2기: 우리들의 워 게임!,9.8,디지털 월드 모험 으로부터 인터넷 에는 세계 디지털 데이터 먹다 성장하다 흉악하다 ...
...,...,...,...
2097,퀼,8.6,도쿄 하다 주택 에서 리트리버 마리 태어나다 옆구리 날개 같다 이상하다 얼룩 띄다 ...
2098,공포의 보수,8.6,불란서 마리오 이브 몽땅 늘다 남미 어느 하다 지방 으로 흐르다 들어오다 자신 처지...
2099,연풍연가,8.6,일상 벗어나다 주행 비행기 싣다 태희 장동건 여느 처럼 관광객 배웅 하다 관광가이드...
2100,극장판 시로바코,8.6,함께 애니메이션 작품 만들다 자고 약속 하다 카미노 야마 고교 애니메이션 동호회 다...
2101,플러버,8.6,필립 브레이 너드 교수 로빈 윌리암스 늘다 매사 너무 생각 골똘하 언뜻 보다 나가다...

In [ ]:
movieData.to_csv('prepro_movieList.csv')

In [ ]:
print(movieData[movieData['title']== '내 일기'])

Empty DataFrame
Columns: [title, rate, description]
Index: []

In [ ]:
idx = movieData[movieData['title']== '내 일기'].index
movieData = movieData.drop(idx)

In [ ]:
#일기 데이터 전처리해서 df에 추가
diary = {
    'title' : '내 일기',
    'rate' : 10,
    'description' : ''
}
movieData = movieData.append(diary, ignore_index=True)

#데이터 벡터화 및 코사인 유사도 측정

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(movieData.description)
# 줄거리에 대해서 tf-idf 수행
print(tfidf_matrix.shape)

(2103, 20224)

In [ ]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
"""인덱스 테이블 만들기"""
indices = pd.Series(movieData.index, index=movieData.title).drop_duplicates()
print(indices)

title
뷰티플 마인드                       0
뷰티플 마인드(가치봄영화:시청각장애인용)        1
극장판 은혼 완결편 해결사여 영원하라          2
몬스타엑스 : 더 드리밍                 3
디지몬 어드벤처 2기: 우리들의 워 게임!       4
                           ...
공포의 보수                     2098
연풍연가                       2099
극장판 시로바코                   2100
플러버                        2101
내 일기                       2102
Length: 2103, dtype: int64

In [ ]:
"""추천 해주기"""
def movie_REC(title, cosine_sim=cosine_sim):
    #입력한 영화로 부터 인덱스 가져오기
    idx = indices[title]

    # 모든 영화에 대해서 해당 영화와의 유사도를 구하기
    sim_scores = list(enumerate(cosine_sim[idx]))

    # 유사도에 따라 영화들을 정렬
    sim_scores = sorted(sim_scores, key=lambda x:x[1], reverse = True)

    # 가장 유사한 10개의 영화를 받아옴
    sim_scores = sim_scores[1:11]

    # 가장 유사한 10개 영화의 인덱스 받아옴
    movie_indices = [i[0] for i in sim_scores]
    
    #기존에 읽어들인 데이터에서 해당 인덱스의 값들을 가져온다. 그리고 스코어 열을 추가하여 코사인 유사도도 확인할 수 있게 한다.
    result_df = movieData.iloc[movie_indices].copy()
    result_df['score'] = [i[1] for i in sim_scores]
    
    # 읽어들인 데이터에서 줄거리 부분만 제거, 제목과 스코어만 보이게 함
    del result_df['description']

    # 가장 유사한 10개의 영화의 제목을 리턴
    return result_df

In [ ]:
movie_REC('내 일기')

                         title  rate     score
231                    폴리스 스토리   9.3  0.157754
1575       극장판 헬로카봇:옴파로스 섬의 비밀   8.7  0.131922
519                    칠곡 가시나들   9.2  0.131723
1491                   1991, 봄   8.8  0.112020
1382              매드맥스: 분노의 도로   8.8  0.109322
1387  매드맥스: 분노의 도로(2.35:1 극장판)   8.8  0.109322
1397   매드맥스: 분노의 도로(블랙&크롬 에디션)   8.8  0.109322
34                         플루크   9.5  0.104655
1616                   러시 아워 2   8.7  0.096466
1165               그렇게 아버지가 된다   8.9  0.094579